body{
    background-color: black;
    padding-left: 25%;
    padding-right: 25%;
    
}
.regform{
    margin: 500px;
    margin: 250px auto;
    background-color: purple;
    padding: 50px,20px,30px,20px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
}
h1{
    text-align: center;
    color: yellow;
    padding-top: 20px;
}
.input{
    padding-inline-start: 20px;
    padding-block-end: 10px;
    padding-left: 30px;
    
}
.radio{
    padding-left: 30px;

}
.btn{
    text-align: center;
    padding-block-start: 10px;
    padding-block-end: 20px;

}
.regform .text{
    font-size: 20px;
    display: block;
    padding-block-end: 8px;
}
.input input{
    width: 95%;
    font-size: 1.5em;
    box-shadow: 2px;
    border-radius: 8px;
}
input:focus{
    background-color: rgb(215, 164, 228);
}
button{
    background-color: grey;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}